# System files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.swp

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc

# Logs
*.log

.env
.envlocal
.history
